<div>
  <ul class="nav nav-tabs">
    <li class="<%= "active" if params[:tab].nil? %>">
      <%= link_to "Outstanding tasks" %>
    </li>
    <li class="<%= "active" if params[:tab] == "completed" %>">
      <%= link_to "Completed tasks", params.merge(tab: "completed") %>
    </li>
    <li class="<%= "active" if params[:tab] == "all" %>">
      <%= link_to "All tasks", params.merge(tab: "all") %>
    </li>
  </ul>

  <div class="tab-content">
    <br/>
    <% if params[:tab].nil? %>
      <%= render 'tasks/task_list_by_date', tasks: @tasks_outstanding %>
    <% elsif params[:tab] == "completed" %>
      <%= render 'tasks/task_list', tasks: @tasks_completed %>
    <% elsif params[:tab] == "all" %>
      <%= render 'tasks/task_list', tasks: @tasks %>
    <% end %>
  </div>
</div>