<h1>
  <% if @task.completed %>
    <span class="glyphicon glyphicon-check"></span>
  <% else %>
    <%= link_to completed_task_path(@task, task: { completed: true } ), method: "patch", remote: true do %>
      <span id="task_<%= @task.slug %>_completed" class="glyphicon glyphicon-unchecked"></span>
    <% end %>
  <% end %>
  <%= @task.title %>
  <div class="pull-right">
    <% unless @task.group.nil? %>
      <span class="label label-default"><%= @task.group.name %></span>
    <% end %>
    <span class="label label-info"><%= @task.priority.capitalize %></span>
  </div>
</h1>
<hr/>
<div class="well">
  <dl class="dl-horizontal">
    <dt>Title</dt>
    <dd><%= @task.title %></dd>
    <br/>
    <dt>Note</dt>
    <dd><%= @task.note %></dd>
    <br/>
    <dt>Due date</dt>
    <dd><%= format_date(@task.due_date) %></dd>
    <br/>
    <dt>Priority</dt>
    <dd><%= @task.priority.capitalize %></dd>
    <br/>
    <dt>Group</dt>
    <% if @task.group.nil? %>
      <dd>None</dd>
    <% else %>
      <dd><%= @task.group.name %></dd>
    <% end %>
    <br/>
    <dt>Assigned to</dt>
    <dd><%= @task.assignee.username %></dd>
    <br/>
    <dt>Completed</dt>
    <dd id="task_<%= @task.slug %>_completed_field">
      <% if @task.completed %>
        Yes
      <% else %>
        No
      <% end %>
    </dd>
    <br/>
    <dt>Created by</dt>
    <dd><%= @task.creator.username %></dd>
  </dl>
</div>

<% if (current_user == @task.creator or current_user == @task.assignee) %>
  <%=link_to "Edit task", edit_task_path(@task), class: "btn btn-primary" %>
<% end %>