<h1>Join group</h1>
<p class="lead">Enter the group details below</p>

<div class="well">
  <%= form_tag '/groups/join', class: "form-horizontal" do %>
    <div class="form-group">
      <%= label_tag :name, nil, class: "col-xs-2 control-label" %>
      <div class="col-xs-10">
        <%= text_field_tag :name, params[:name] || "", class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag :password, nil, class: "col-xs-2 control-label" %>
      <div class="col-xs-10">
        <%= password_field_tag :password, params[:password] || "", class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-offset-2 col-xs-10">
        <%= submit_tag "Join", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>

